::selection {
    color: hwb(26 46% 0%);
    background-color:blanchedalmond ;
}
body    {
    
    background-color: hwb(26 42% 2%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#buttonDiv   {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#displayBox {
    display: flex;
    flex-grow: 1;
    min-width: 268px;
    color: hwb(26 32% 30%);
    border: 6px;
    border-radius: 10px;
    border-style: inset;
    border-color: hwb(26 60% 0%);
       
}
#display    {
    

    align-items: center;
    font-size: 50px;
    padding: 5px;
    text-align: right;
    flex-grow: 1;  
}

#oprDisplay {
    width: 20px;
    padding: 10px;
    font-size: 30px;
    

}

button  {
    font-family: inherit;
    font-size: large;
    height  : 60px;
    width   : 60px;
    margin: 6px 4px;
    color: blanchedalmond;
    background-color: hwb(26 46% 0%);
    border-color: hwb(26 60% 0%);
    border-width: 6px;
    border-radius: 30px;
    vertical-align:middle;
}

.transp {
    visibility: hidden;
}

